body {
	margin: $spacing;
	text-align: center;
}

main,
header,
footer,
article,
section,
aside,
nav,
details {
	max-width: $page-width;
	margin: $spacing auto;
	text-align: left;
}

hr {
	width: 100%;
	max-width: $page-width;
	margin: $spacing auto;
	border: $border;
	border-bottom: 0;
}

/* EXPERIMENTAL */
header,
footer {
	display: flex;
	align-items: center;

	& > * { margin: 0 !important; }

	// Aside inside header is positioned on the right
	& > aside {
		flex: 0;
		margin: 0 0 0 auto !important;
	}
}

// Base modifier
.is-wide {
	display: block;
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}
