input[type=submit],
input[type=button],
input[type=reset],
button {
	display: inline-block;
	margin: 0;
	padding: $btn-padding;
	font-size: $btn-txt-size;
	line-height: 1.5;
	white-space: nowrap;
	vertical-align: $btn-valign;
	border: $border;
	border-radius: $radius;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
	user-select: none;

	@include btn-color($color-primary, $btn-txt-color);

	&:disabled { @include disabled; }

	// BUTTON ICONS. Many icon libraries use <i> element as convention
	& > i {
		display: inline-block;
		vertical-align: bottom;
	}
}

/* BUTTON VARIANTS ------------------------------------------------------ */
button.is-alert { @include btn-color($color-error, #fff); }

button.is-flat,
input[type=reset] { @include btn-color(transparent, $color-primary); }

button.is-ghost {
	@include btn-color($color-primary, $color-primary);

	background-color: transparent !important;
}
