input[type=submit],
input[type=button],
input[type=reset],
button {
	display: inline-block;
	margin: 0;
	padding: $btn-padding;
	font-size: $btn-txt-size;
	line-height: 1.5;
	white-space: nowrap;
	vertical-align: $btn-valign;
	border: $border;
	border-radius: $radius;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
	user-select: none;

	@include btn-color($color-primary, $btn-txt-color);

	&:disabled { @include disabled; }

	// BUTTON ICONS. Many icon libraries use <i> element as convention
	& > i {
		display: inline-block;
		vertical-align: bottom;
	}
}

input[type=reset] {
	color: $color-primary !important;
	background-color: transparent !important;
	border: $border !important;
	border-color: transparent !important;

	&:hover { color: darken($color-primary, 10%) !important; }
	&:active { color: darken($color-primary, 20%) !important; }
}
